@{
    ViewBag.Title = "ViewResult2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Result</h2>
<table style="float: left; vertical-align: middle;">
        <tr>
            <td>
                <img src="~/Images/icons2/1.png" /></td>
            <td><h2 style="margin-bottom: 25px;">54 degrees Fahrenheit <img src="~/Images/Wrong.png" /></h2></td>
        </tr>
         <tr>
            <td>
                <img src="~/Images/icons2/2.png" /></td>
            <td><h2 style="margin-bottom: 25px;">54 degrees Fahrenheit <img src="~/Images/Right.png" /></h2></td>
        </tr>
         <tr>
            <td> <img src="~/Images/icons2/3.png" /></td>
            <td><h2 style="margin-bottom: 25px;">54 degrees Fahrenheit <img src="~/Images/Right.png" /></h2></td>
        </tr>
        <tr>
            <td></td>
            <td> </td>
        </tr>
    </table>